#set($inputRoot = $input.path('$')) --- this is to map url path to lambda event object properties
{
    "id": "$input.params('id')", 
    "message": "$inputRoot" ---$input Root is entire request body
}